# Data Types and Structures Questions

1. What are data structures, and why are they important?

--> The way of organizing data and storing them in any data types so that it can accessed and manipulated it.there are so many methods or data types that is used to create a structure of any data and the structures are both mutable and immutable.

example:- list,string, tuples,set,dictionary,array

-->Importance of data structures.
1. main reason that it is easy to accessed any structure data rather then any unstructure data. It take less time during accessing any element.

2. uses like for management sector, their all the data of client or employe's need to be stored in a particular manner so  by using list and dictionaries it wiil be easy to handle all the information for adding, deleting ,etc.

2.  Explain the difference between mutable and immutable data types with examples.

--> In python, mutable data types are those data type which allows user that they can accessed tha data and rewrite the data after storing and it is mainly use for where one's the data is stored and it need to flexible to add n number data's or remove exiting ones without create new object.

use case:- imagine you lived in place and the address must be stored in you profile or account but after some time you change the place so a new address will be stored in profile.

In [5]:
list = [1,2,3]
print(list[0]) #accessing any element by index
list[1]="srijan"#change any element 
print(list)

1
[1, 'srijan', 3]

--> In python, immutable data types allows user only accessed the any element in read mode you did not have any access to change any element or add any element.If anyone try to modify the objects its create a new object in memory or it will through an error.
Example- tuples,string,etc.

In [ ]:
tuple = (1,"srijan",3,4)
print(tuple[1]) # accessing data from tuple
tuple[1]= 5 #try to change  the value of index 1 
print(tuple) #output through an error

3. What are the main differences between lists and tuples in Python.

# Practical Questions

1. Write a code to create a string with your name and print it.

In [10]:
string = "srijan deyashi"
print("my name is ",string)

my name is  srijan deyashi

2. Write a code to find the length of the string "Hello World".

In [12]:
string = "Hello World"
length = len(string)
print("The lenght of string is",length)

The lenght of string is 11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [1]:
string = "Python Programming"
slicing = string[0:3]
print(slicing)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [2]:
string = "hello"
upper_case = string.upper() 
print(upper_case)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
string ="i like apple"
change_value = string.replace("apple","orange")
print(change_value)

i like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [15]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [16]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
list = ['a', 'b', 'c', 'd']
accessing = list[1]
print(accessing)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [22]:
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [23]:
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [24]:
tuple = (1, 2, 3, 2, 4, 2)
count = tuple.count(2)
print(count)

3

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
tuple = ('dog', 'cat', 'rabbit')
index = tuple.index("cat")
print(index)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [30]:
tuple = ('apple', 'orange', 'banana')
find = "banana"
if find in tuple:
    print("True")
else:
    print("False")

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [31]:
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [33]:
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [34]:
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [35]:
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [37]:
tuple = (1, 2, 3, 2, 4, 2)
count = tuple.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [36]:
tuple = ('dog', 'cat', 'rabbit')
index = tuple.index("cat")
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
tuple = ('apple', 'orange', 'banana')
find = "banana"
if find in tuple:
    print("True")
else:
    print("False")

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
set = {1, 2, 3, 4, 5}
print(set)

24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [38]:
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}